<div class = "container">
		<div class="row">
			<div class="col-md-3 col-xs-12">
				<div class = "well">
						<img src="files/photos/headshot.JPG" class = "col-md-12 col-sm-6 col-xs-12" alt = "Nicki Thomson">

					<div ng-controller="bioController">
						<p> 
							{{bioText.content[0]}}
							<a href="/#/bio" class="hidden-sm hidden-xs">Read More</a>
						</p>
						<p class = "visible-sm visible-xs">
							{{bioText.content[1]}}
							<a href="/#/bio" class="hidden-sm">Read More</a>
						</p>
						<p class = "visible-sm">
							{{bioText.content[2]}}
							<a href="/#/bio">Read More</a>
						</p>
						
					</div>
				</div>
			</div>

			<div class="col-md-7 hidden-sm hidden-xs">
				
				<div ng-controller="carouselController">
				    <carousel interval="myInterval" id="photo-slides">
				      <slide ng-repeat="slide in slides" active="slide.active">
				        <img ng-src="{{slide.image}}">
				        <div class="carousel-caption">
				          <p>{{slide.text}}</p>
				        </div>
				      </slide>
				    </carousel>
				</div>

			</div>
			<div class = "col-md-2 col-xs-12" id="links">
				<div class="well">
					Links: </br>
					<a href="https://github.com/NickiThomson" target="_blank"> GitHub </a> </br>
					<a href="https://www.linkedin.com/pub/nicola-thomson/90/a53/bb8" target="_blank"> LinkedIn </a>
				</div>
		</div>
	</div>