<div class = "container">
		<div class="row">
			<div class="col-md-3">
				<div class = "well">
					<img src="files/photos/headshot.jpg" class = "img-rounded" alt = "Nicki Thomson">

				Nicki Thomson is currently a junior at Tufts University studying Computer Engineering, (which for those who don’t know, by the Tufts curriculum, is what you get when Electrical Engineering and Computer Science get together and have a baby). Additionally she is a member of a variety of campus groups, including Tufts Robotics Club, The Tufts Opera Ensemble, Alpha Omicron Pi, and Nicki is the Social Coordinator of the Tufts Ballroom Team.
				<br> <br>
				Nicki spent last summer as a software developer intern at IBM, helping to redesign the Emptoris Suite product’s log in workflow. This helped her to gain new web programming skills such as Bootstrap and AngularJS, as well as develop her existing ones. Nicki really enjoyed the vast amount of learning that came with this job, and hopes to be able to pursue more internships which allow her to learn so much.
				<br> <br>
				Prior to Tufts, Nicki attended six years of boarding school on a cliffside in England...
				<a href="/#/bio"> read more </a>

				</div>
			</div>

			<div class="col-md-7">
				
				<div ng-controller="carouselController">
				    <carousel interval="myInterval" id="photo-slides">
				      <slide ng-repeat="slide in slides" active="slide.active">
				        <img ng-src="{{slide.image}}">
				        <div class="carousel-caption">
				          <p>{{slide.text}}</p>
				        </div>
				      </slide>
				    </carousel>
				</div>

			</div>
			<div class = "col-md-2" id="links">
				<div class="well">
					Links: </br>
					<a href="https://github.com/NickiThomson"> GitHub </a> </br>
					<a href="https://www.linkedin.com/pub/nicola-thomson/90/a53/bb8"> LinkedIn </a>
				</div>
			</div>
		</div>
	</div>