
    <div class="container">
        <div class ="well">       
          <h3 id="resumeTitle"> Nicola Thomson </h3>
          <div class = "row">
            <div class="col-sm-3"></div>
            <div class = "col-sm-3" id='resumeTitle'> 
              <a href="mailto:nicola.thomson@tufts.edu.com?Subject=Saw%20your%20online%20resume" target="_top">
Nicola.Thomson@tufts.edu</a> </div>
            <div class = "col-sm-3" id='resumeTitle'> (301)-651-0888 </div>
          </div>
        </div>
        <div class = "row">
          <div class="col-sm-2"> </div>
          <div class="col-sm-10">
            
            <nt-resume-section title = "categories.education">
              <div> Tufts University, Medford MA </div>
              <div> Bachelor of Science in Computer Engineering, expected May 2017 </div>
              <div> Master of Science in Electrical Engineering, expected May 2017 </div>
              <div> GPA: 3.53 </div>
            </nt-resume-section>

            <nt-resume-section title = "categories.classes.title">
                <nt-resume-list category = 'categories.classes.engineering' ></nt-resume-list>

                <nt-resume-list category = 'categories.classes.computerScience'></nt-resume-list>

                <nt-resume-list category = 'categories.classes.mathematics'></nt-resume-list>
            </nt-resume-section>

            <nt-resume-section title="categories.projects.title">
                  <a href="#projects?scrollTo=swarmbots">Swarmbots</a> <br>
                  <a href="#projects?scrollTo=timer">Countdown Timer</a> <br>
                  <a href="#projects?scrollTo=quicksplit">Quicksplit</a>

            </nt-resume-section> 

            <nt-resume-section title="categories.skills.title">
              <nt-resume-list category = "categories.skills.software"></nt-resume-list>
              <nt-resume-list category = "categories.skills.programmingLanguages"></nt-resume-list>
              <nt-resume-list category = "categories.skills.webDevelopment"></nt-resume-list>
            </nt-resume-section>

            <nt-resume-section title="categories.experience.title">
              <div><b>Tufts University Department of Computer Science,</b> Medford MA </div>
              <div><i>Teaching Assistant,</i> September 2014 - Present </div>
              <ul>
                <li> Explained computer science concepts to students in office hours </li>
                <li> Taught good programming and debugging practices to students </li>
                <li> Graded student homework, analyzed for clarity of code and functionality </li>
              </ul>

              <div><b>Microsoft,</b> Redmond, WA </div>
              <div><i>Software Engineer Intern</i>, May 2015 - July 2015 </div>
              <ul>
                <li> Wrote actions in C# for Azure SQL DB in order to increase flexibility of the system </li>
                <li> Created tests in C# to verify accuracy of actions written </li>
              </ul>

              <div><b>IBM,</b> Littleton MA </div>
              <div><i>Software Developer Intern,</i> June 2014 - August 2014 </div>
              <ul>
                <li> Redesigned the change your password workflow for the Emportis Suite product to make it more responsive and mobile friendly using AngularJS and Bootstrap </li>
                <li> Implemented unit and end to end tests using Karma and Protractor </li>
                <li> Worked as part of a larger team to rework the entire log in workflow to be more responsive and to improve ease of testing and later adjustment of the page </li>
              </ul>
            </nt-resume-section> 

            <nt-resume-section title="categories.activities.title">
            <div><b>Institute of Electrical and Electronics Engineers,</b><i> Member,</i> April 2014 - Present</div>
            <div><b>Alpha Omicron Pi,</b><i> Delta Chapter Songmaster</i> March 2014 - Present</div>
            <div><b>Tufts Opera Ensemble,</b><i> Member,</i> September 2012 – Present</div>
            </nt-resume-section> 

        </div>
        <div class = "col-sm-10 col-xs-0"></div>
        <div class = "col-sm-2">      
          <a href="files/NTResume_online.pdf" target="_blank">
            <span class = "glyphicon glyphicon-download-alt"></span>
            Download PDF</a>
        </div>

      </div>

      </div>
