
    <div class="container">
        <div class ="well">       
          <h3 id="resumeTitle"> Nicola Thomson </h3>
          <div class = "row">
            <div class="col-sm-3"></div>
            <div class = "col-sm-3" id='resumeTitle'> 
              <a href="mailto:nicola.thomson@tufts.edu.com?Subject=Saw%20your%20online%20resume" target="_top">
Nicola.Thomson@tufts.edu</a> </div>
            <div class = "col-sm-3" id='resumeTitle'> (301)-651-0888 </div>
          </div>
        </div>
        <div class = "row">
          <div class="col-sm-2"> </div>
          <div class="col-sm-10">
            <nt-resume-section title = "categories.education">
              <div> Tufts University, Medford MA </div>
              <div> Bachelor of Science in Computer Engineering, expected May 2016 </div>
              <div> GPA: 3.53 </div>
            </nt-resume-section>

            <!--<h4> Education </h4>
            <div> Tufts University, Medford MA </div>
            <div> Bachelor of Science in Computer Engineering, expected May 2016 </div>
            <div> GPA: 3.53 </div> -->
            <h4> Relevant Coursework </h4>
        
            <div class="row">
              <div class="col-sm-1"></div>
              <div class= "col-sm-11">

                <nt-resume-list category = 'categories.classes.engineering' ></nt-resume-list>

                <nt-resume-list category = 'categories.classes.computerScience'></nt-resume-list>

                <nt-resume-list category = 'categories.classes.mathematics'></nt-resume-list>
              </div>
            </div>


            <h4> Projects </h4>
            <h4> Skills </h4>
            <nt-resume-list category = "categories.skills.software"></nt-resume-list>
            <nt-resume-list category = "categories.skills.programmingLanguages"></nt-resume-list>
            <nt-resume-list category = "categories.skills.webProgramming"></nt-resume-list>
            <h4> Experience </h4> 
            <h4> Awards </h4>
            <h4> Activities/ Interests </h4>
        </div>
        <div class = "col-sm-10 col-xs-0"></div>
        <div class = "col-sm-2">      
          <a href="files/NTResume_online.pdf" target="_blank">
            <span class = "glyphicon glyphicon-download-alt"></span>
            Download PDF</a>
        </div>
      </div>

      </div>
