
    <div class="container">
        <div class ="well">       
          <h3 id="resumeTitle"> Nicola Thomson </h3>
          <div class = "row">
            <div class="col-sm-3"></div>
            <div class = "col-sm-3" id='resumeTitle'> 
              <a href="mailto:nicola.thomson@tufts.edu.com?Subject=Saw%20your%20online%20resume" target="_top">
Nicola.Thomson@tufts.edu</a> </div>
            <div class = "col-sm-3" id='resumeTitle'> (301)-651-0888 </div>
          </div>
        </div>
        <div class = "row">
          <div class="col-sm-2"> </div>
          <div class="col-sm-10">
            
            <nt-resume-section title = "categories.education">
              <div> Tufts University, Medford MA </div>
              <div> Bachelor of Science in Computer Engineering, expected May 2016 </div>
              <div> GPA: 3.53 </div>
            </nt-resume-section>

            <nt-resume-section title = "categories.classes.title">
                <nt-resume-list category = 'categories.classes.engineering' ></nt-resume-list>

                <nt-resume-list category = 'categories.classes.computerScience'></nt-resume-list>

                <nt-resume-list category = 'categories.classes.mathematics'></nt-resume-list>
            </nt-resume-section>

            <nt-resume-section title="categories.projects.title">
                  <a href="#projects?scrollTo=timer">Countdown Timer</a> <br>
                  <a href="#projects?scrollTo=quicksplit">Quicksplit</a>

            </nt-resume-section> 

            <nt-resume-section title="categories.skills.title">
              <nt-resume-list category = "categories.skills.software"></nt-resume-list>
              <nt-resume-list category = "categories.skills.programmingLanguages"></nt-resume-list>
              <nt-resume-list category = "categories.skills.webDevelopment"></nt-resume-list>
            </nt-resume-section>

            <nt-resume-section title="categories.experience.title">
              <div> <b> International Business Machines </b>, Littleton MA </div>
              <div> <i> Software Developer Intern</i>, June 2014 - August 2014 </div>
              <ul>
                <li> Redesigned the change your password workflow for the Emportis Suite product to make it more responsive and mobile friendly using AngularJS and Bootstrap </li>
                <li> Implemented unit and end to end tests using Karma and Protractor </li>
                <li> Worked as part of a larger team to rework the entire log in workflow to be more responsive and to improve ease of testing and later adjustment of the page </li>
              </ul>
            </nt-resume-section> 

            <nt-resume-section title="categories.awards.title">
            </nt-resume-section>

            <nt-resume-section title="categories.activities.title">
            </nt-resume-section> 

        </div>
        <div class = "col-sm-10 col-xs-0"></div>
        <div class = "col-sm-2">      
          <a href="files/NTResume_online.pdf" target="_blank">
            <span class = "glyphicon glyphicon-download-alt"></span>
            Download PDF</a>
        </div>

      </div>

      </div>
